html {
  /* px means "pixels". The base font size is now 10 pixels high */
  font-size: auto;
  /* Replace PLACEHOLDER with the font-family property value you got from Google Fonts */
  font-family: Roboto, sans-serif;
}
body {
  width: auto;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
}

/* --- General Image Sizing Best Practices --- */
img {
  max-width: 35%; /* Ensures images are never wider than their container */
  height: auto; /* Maintains aspect ratio to prevent distortion */
  display: block; /* Often helpful to remove extra space below images and center them with margin: auto */

  float: right;

  margin-left: 20px;
  /* Space between image and text */
  margin-bottom: 20px;
  /* Space below image */
}
/* --- Headings and Paragraphs --- */
h1 {
  margin: 20px 0; /* Adds space above and below headings */
  font-size: auto;
  text-align: center;
}
h2 {
  margin: 30px 0; /* Adds space above and below headings */
  font-size: auto;
  text-align: left;
}
p {
  font-size: 25px;
  text-align: left;
  line-height: 1.5; /* Improves readability */
  margin: 0 auto; /* Centers the paragraph */
}
li {
  font-size: 25px;
  text-align: left;
  line-height: 1.5; /* Improves readability */
  margin: 0 auto; /* Centers the paragraph */
}

/* an issue to be fixed:----------------------------------------------------------------- */
a {
  color: #0000ff; /* Default link color */
  font-size: 20px;
  margin: 20px auto; /* Centers the link */
}
